.cat-institution-select {
	max-width:82em;
}

.insts, .cat-inst-action {
	padding: 0;
}
.insts li, .cat-inst-action li {
	display: inline-block;
}

ul.cat-profiles {
	list-style: none;
	padding: 0;
}
ul.cat-profiles li {
	display: inline;
}
.cat-download a {
	min-width: 20em;
}

nav {
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
}
.breadcrumb {
	margin-top: 50px;
}
.cat-support-contact span {
	display: block;
}

.legal {
	text-align: center;
	font-size: 0.7em;
}

.cat-idp-logo {
	max-width: 100%;
	max-height: 12em;
}
